<!DOCTYPE html>
<html lang="ru" class="h-100">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="favicon.svg" type="data:image/svg+xml">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %} 
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex h-100">
        <div class="d-flex w-100 h-100 mx-auto flex-column">

            {% block body %}
            
                {% block header %} {{ include('assets/header.html') }} {% endblock %}

                {% block main %}{% endblock %}

                {% block footer %} {{ include('assets/footer.html') }} {% endblock %}
                
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
            
            {% block scripts %}{% endblock %}

        </div>
    </body>
</html>
